%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;
    background:#3D37F1;
    color:$white;
    border:none;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 50px;
    transition: all 0.5s ease-in-out;
    

  
    &:hover {
      transform: scale(.98);
      transition: all 0.5s ease-in-out;
      background-color: #FF8923;
    }
  }


  %readMore-btn{

    border:1px solid #fff;
    text-transform: capitalize;
    text-align: center;
    padding:10px 25px;
    background:none;
    color:#fff;
    transition: all 0.5s ease-in-out;
    border-radius: 50px;
    cursor: pointer;

    &:hover{
      transform:scale(.98);
      transition: all 0.5s ease-in-out;
      background:#fff;
      color:#333;
    }

  }