
// variables global
// $bodyBg :#ffffff;
$fontColor: #717171;
$fontSize: 14px;
$lineHeight: 20px;
$white: #ffffff;


// button variables

// $primaryBtn : rgb(87, 87, 218);
// $secondaryBtn : rgb(105, 103, 103);
// $dangerBtn :#D24826;


$font-stack: Arial, Helvetica, sans-serif;
$light-color: #f4f4f4;
$primary-color: #3D37F1;
// $primary-color: #e0ffff;
$secondary-color: #ff8700;
$titleColor: #5A5454;


// backgrounds gradient variables 

$bgOrGra : linear-gradient(#DFA871,#E18931);
$bgOrGraHr : linear-gradient(#E18931,#DFA871);

$bgAqGr : linear-gradient(#41EAE3,#2293B7);
$bgAqGrHr:  linear-gradient(#2293B7,#41EAE3);
$bgPrGr:  linear-gradient(#69529F,#463864);
$bgPrGrHr:  linear-gradient(#463864,#69529F);
$bgBlGr :  linear-gradient(#4386D2,#0962C5);
$bgBlGrHr:  linear-gradient(#0962C5,#4386D2);
$bgLbGr:  linear-gradient(#A5A2F6,#564FD6);
$bgLbGrHr:  linear-gradient(#564FD6,#A5A2F6);
$bgRdGr:  linear-gradient(#FF8088,#984141);
$bgRdGrHr:  linear-gradient(#984141,#FF8088);



